:root {

    /* Colour palette */
    --primary: rgb(88, 162, 242);
    --secondary: #1a2121;
    --offwhite: #f1fefe;
    --dark: #364545 ;
    --accent: rgb(156, 236, 252);
    --transparency: rgba(156, 236, 252, 0.2);

    /* width */
    --full: 100vw;
    --large: 80vw;
    --half: 50vw;
    --third: 31vw;
    --quarter: 21vw;
    --small: 18vw;

    /* spacing*/
    --sxl: 3rem;
    --sl: 2rem;
    --sm: 1rem;
    --ss: 0.5rem;
    --sxs: 0.25rem;

    /* text-size */
    --txl: 2rem;
    --tl: 1.4rem;
    --tm: 1.2rem;
    --ts: 0.80rem;
    --txs: 0.7rem;

}

* {
    font-size: 1rem;
    margin: 0;
    box-sizing: border-box;

}

body {
    font-family: "Lucida Sans", sans-serif;
    background-color: var(--secondary) ;
}

/* General */

.column {
    display: flex;
    flex-direction: column;
    padding: 0;
    max-width: 300px;
    margin:0;
   
}

.hidden {
    display: none;
}

h1 {
    font-size: var(--txl);
    text-align: center;
    padding: var(--sm) 0;
    }

h2 {
    font-size: var(--tm);
    padding: var(--sm) 0;
}

p {
    line-height:1.4;
    padding: var(--sm)
}

.threeboxes p {
    padding-left: 0;
}

.center {
    margin: auto;
    text-align: center;
}

.subheading {
    font-size: 1.35rem;
}

article {
padding: 0 var(--sm);    

}

article p, a, h4 {
font-size: 0.95rem;
padding: var(--ss) 0;
text-align: left;
}

hr {
border: 1px solid var(--accent);
  border-radius: 5px;
    width: 90%;
    margin: 8px auto;    
}

.italic{
    font-style: italic;
}

.notes {
    font-size: 0.95rem;
    padding: var(--sm);
}


/* Containers & Boxes sizes */

.largebox {
    width: var(--large);
    margin: auto;
    padding: var(--sl) 0;
    gap: var(--md);
}


.boxquarter {
  flex: 1 1 var(--quarter);
  
}

.boxhalf {
  flex: 1 1 var(--half);
  
}

.smallbox {
    width: var(--quarter);
}


.flexcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  align-items: flex-start;
}



/* Text sizes */

.smallcopy {
    font-size: var(--ts);
}

.xsmallcopy {
    font-size: var(--txs);
}

.biggercopy {
    font-size: var(--tl);
    font-weight: 500;
    line-height: 1.8;
    padding: var(--sm)
}

/* Breathing spacing */

.sm-spacing-tb {
    padding: var(--sm) 0;
}

.sm-spacing-top {
    padding-top: var(--sm)
}

.sxl-spacing-top {
    padding-top: var(--sxl);
}

.sm-spacing-side {
    padding: 0 var(--sm);
}


/* Header Section */

header {
    background-color: var(--secondary);
    width: var(--full);
}


nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    padding: var(--sl);
    color: var(--primary);
   
}


.topnav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.topnav ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: var(--sxs);

}


.topnav li {
    list-style: none;
    padding: var(--ss)
}

#hero {
    display: block;
    text-align: center;
    color: var(--offwhite);
    margin: auto;
    background: rgba(88, 162, 242, 0.6);
    backdrop-filter: blur(8px);
    padding: 4rem 2rem;
    width: var(--ful
    );
   
    
}

#hero h1 {
    font-size: 3.5rem;
    padding: var(--sl);

}

/* Logo */
.logo {
    padding-left: 0;
}

.logo img {
    max-width: 250px;
    height: auto;
    display: block;
}

footer .logo img {
    max-width: 150px;
    height: auto;
    align-self: flex-start;

}


/* Buttons */
button {
    background: var(--accent);
    border-radius: 8px;
    border: none;
   color: var(--dark); 
    font-weight: 600;
    font-size: var(--ts);
    text-align: center;
    line-height: 1.2;
    display: block;
    width: 100%;
    padding: 1rem 2rem;
  cursor: pointer;

}


nav button,
footer button {
    width: auto;
    max-width: 200px;
    margin-left: 2%;

}

form button {
    width: 15%;
    max-width:30%;
    margin: var(--sm) auto;
    
}

.cta {
    background-color: var(--primary);
    text-align: center;
    margin-top: var(--sm); 

}

.cta-link {
    font-weight: 600;
    padding: var(--ss) var(--sm);
    background-color: var(--primary);
    border-radius: 5px;
    margin-top: var(--ss) auto;
    color: var(--offwhite);
    text-align: center;
    display: inline-block; 
   
}

/* Main section */



.boxes {
    display: flex;
    flex-wrap: wrap;
    padding: var(--sm);
    justify-content:center;
    align-items: center;
}

.threeboxes {
    width: 25%;
    min-width: 250px;
    margin: var(--sm);
    min-height: 28vh;
    height: auto;
    padding: var(--sm);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    word-wrap: break-word;

}

.middlebox {
    width: 45%;
    margin: var(--sm);
    min-height: 28vh;
    height: auto;
    padding: var(--sm);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    
 }

 
.insights {
   background-color: #ff7fff; 
}

.twoboxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
     
   }

.twoboxes img {
    max-width: 100%;
    padding-bottom: var(--sm);
}

.left, .right{
     display:flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    min-height: 40vh;
    max-width: 400px;
    min-width: 250px;
    margin:0 var(--ss);
}

/* Forms */

.signup {
background-color:  rgba(88,162,242, 0.7);

  backdrop-filter: blur(4px);          
  border-radius: 1rem;
  color: var(--offwhite); 
padding: var(--sm);


}

input, textarea, select {
    min-width: 50%;
    margin: var(--ss) 0;
    border:0;
    border-radius: 5px;
    padding: var(--ss);
    background-color: var(--offwhite);
    opacity: 0.6;
    font-family:"Lucida Sans", sans-serif;
    
}

input::placeholder, textarea::placeholder, select {
  font-style: italic;
  color: var(--dark);
}

textarea {
    min-height: 80px;
}

label.select {
    font-size: 0.95rem;
    width: 100%;
    text-align: left;
    margin-left: ;
    padding: var(--sm) 0;
    display: block;
   
}

/*Footer section */
footer {
    color: var(--offwhite);
    width: var(--full);

}

footer li {
    list-style: none;
    padding-bottom: var(--ss);

}

.menu {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items:center;
    
}


.legal {
    margin: auto;
    text-align: center;
    padding: var(--ss) var(--ss);
}



/* Links */

a {
    text-decoration: none;
    padding: var(--sm) 0;
    color: var(--accent);
    cursor: pointer;

}

.arrow {
    padding-top: var(--sm);
}

.arrow::after {
    padding-left: 5px;
    content: "\f105";
    font-family: "Font Awesome 6 Free";
    font-weight: 600;
    font-size: 1rem;
    vertical-align: middle;

}

.menu a {
    color: var(--offwhite);
    font-size: var(--ts);
    cursor: pointer;
    
}

.menu a:hover {
  text-decoration: underline;
}


.cta a {
    color: var(--offwhite);
    text-align: center;
    padding: 0;
    cursor: pointer;
}

.legal a {
    text-decoration: underline;
    color: var(--offwhite)
}

