:root {

    /* Colour palette */
    --primary: rgb(232, 23, 23);
    --secondary: #48db23;
    --offwhite: #fefefe;
    --dark: #1d1c1c;
    --accent: purple;

    /* witdh */
    --full: 100vw;
    --large: 80vw;
    --half: 50vw;
    --third: 31vw;
    --quarter: 21vw;
    --small: 18vw;

    /* spacing*/
    --sxl: 3rem;
    --sl: 2rem;
    --sm: 1rem;
    --ss: 0.5rem;
    --sxs: 0.25rem;

    /* text-size */
    --txl: 2.3rem;
    --tl: 1.7rem;
    --tm: 1.2rem;
    --ts: 0.80rem;
    --txs: 0.7rem;

}

* {
    font-size: 1rem;
    margin: 0;
    box-sizing: border-box;

}

body {
    font-family: "Lucida Sans", sans-serif;
}

/* General */

.column {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.hidden {
    display: none;
}

h1 {
    font-size: var(--txl);
    text-align: center;
    padding: var(--sm) 0;
    }

h2 {
    font-size: var(--tm);
    padding: var(--sm) 0;
}

.center {
    margin: auto;
    text-align: center;
}

.subheading {
    font-size: 1.5rem;
}

article {
padding: 0 var(--sm);    

}

article p, a, h4 {
font-size: 0.95rem;
padding: var(--ss) 0;
    text-align: left;
}

/* Containers & Boxes sizes */

.largebox {
    width: var(--large);
    margin: auto;
    padding: var(--sl) 0
}

.boxhalf {
    width: var(--half);
}

.boxthird {
    width: var(--third)
}

.boxquarter {
    width: var(--quarter)
}

.smallbox {
    width: var(--quarter);
}


.flexcontainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}



/* Text sizes */

.smallcopy {
    font-size: var(--ts);
}

.xsmallcopy {
    font-size: var(--txs);
}

.biggercopy {
    font-size: var(--tm);
    font-weight: 500;
    line-height: 1.8;
    padding: var(--sm)
}

/* Breathing spacing */

.sm-spacing-tb {
    padding: var(--sm) 0;
}

.sm-spacing-top {
    padding-top: var(--sm)
}

.sxl-spacing-top {
    padding-top: var(--sxl);
}

.sm-spacing-side {
    padding: 0 var(--sm);
}




/* Header Section */

header {
    background-color: var(--primary);
    width: var(--full);
}


nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    padding: var(--sm);
    color: var(--offwhite);

}


.topnav {
    display: flex;
    justify-content: flex-end;
    align-items: center;


}

.topnav ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: var(--sxs);

}


.topnav li {
    list-style: none;
    background-color: aqua;
    padding: var(--ss)
}

#hero {
    display: block;
    text-align: center;
    color: var(--offwhite);
    margin: auto;
}

#hero h1 {
    font-size: var(--txl);
    padding: var(--sl);

}

/* Logo */
.logo {
    padding-left: 0;
}

.logo img {
    max-width: 250px;
    height: auto;
    display: block;
}

footer .logo img {
    max-width: 150px;
    height: auto;
    padding-left: 0;

}


/* Buttons */
button {
    border-radius: 5%;
    border: 0;
    padding: var(--sm);
    font-weight: 600;
    font-size: var(--ts);
    text-align: center;
    line-height: 1.2;

}


nav button,
footer button {
    width: auto;
    max-width: 200px;
    margin-left: 2%;

}

button a {
    display: block;
    width: 100%;

}


.cta {
    background-color: var(--secondary);
    text-align: center;

}

.cta-link {
    font-weight: 400;
    padding: 4px;
    background-color: #d38787;
    border-radius: 5px;
    margin-top: 10px;

}

/* Main section */


.personas {
    background-color: #d38787;
}


.howitworks {
    background-color: aquamarine;
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: var(--sl);
}

.threeboxes {
    border: 1px solid;
    text-align: center;
    width: 100%;
    max-width: 20vw;
    min-width: 15vw;
    margin: var(--sm);
    min-height: 28vh;
    height: auto;
    padding: var(--sm);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    word-wrap: break-word;

}

.insights {
   background-color: #ff7fff; 
}

.twoboxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
    min-height: 40vh;
    height: auto;    
   }

.twoboxes img {
    max-width: 100%;
    padding-bottom: var(--sm);
}

.left, .right{
    border: 1px solid;
    display:flex;
    flex-direction: column;
    justify-content: start;
    min-height: 25vw;
}


/*Footer section */
footer {
    background-color: var(--dark);
    color: var(--offwhite);
    width: var(--full);

}

footer li {
    list-style: none;

}

.menu {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;

}

.legal {
    margin: auto;
    text-align: center;
    padding: var(--sl) var(sm);
}



/* Links */

a {
    text-decoration: none;
    padding: var(--sm) 0;

}

.arrow {
    padding-top: var(--sm);
}

.arrow::after {
    padding-left: 5px;
    content: "\f105";
    font-family: "Font Awesome 6 Free";
    font-weight: 600;
    font-size: 1rem;
    vertical-align: middle;

}

.menu a {
    color: var(--offwhite);
    font-size: var(--ts);
}

.cta a {
    color: var(--offwhite);
    text-align: center;
    padding: 0;
}

.legal a {
    text-decoration: underline;
    color: var(--offwhite)
}

